



ul {
	list-style-type: none;
    left: 0;
    right: 0;
    padding-right: 30px;
}

li {
    line-height:20px !important;
	font-size:13px;
}

input, div {

}

.profile{
    position: absolute;
    top: -62px;
    right: 0;
    margin-right: 5px;
    font-size: large;
    background-color: darkgoldenrod;
    border-left: black 1px dotted;
    border-right: black 1px dotted;
    padding: 2px 0 0 7px;
}

.profile a {
    color: goldenrod;
}

.btn-up{position: absolute;text-decoration: none; cursor:pointer; bottom: -5px; left: 0; overflow: hidden;}
	
.btn-down{top: 0; left:0; position: absolute;text-decoration: none; cursor:pointer; z-index:9999;}

.sidebar.bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 270px;
	z-index:1;
    background:  black;
}

#bottom{bottom: 0;}

.sidebars > .sidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
    color: white;
    padding-top: 30px;
    font-size: 2em;
    text-align: center;
}

.container {
    width: 100%;
    height: 260px;
    position: relative;
    margin-top: 6px;
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card div {
	display: block;
    height: 100%;
    width: 100%;
    /* line-height: 260px; */
    color: white;
    text-align: center;
    /* font-weight: bold; */
    /* font-size: 140px; */
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card .front {
  background: black;
  font-size: medium;
    line-height: 30px;

}
.card .back {
    background: black;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
	font-size: medium;
    line-height: 30px;
    padding-top: 10px;
}
.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
#icon{
	cursor:grab;
	position: absolute;
    top: 0;
    padding-top: 5px;
    right: 50%;
    left: 49%;
	z-index:3;
}

.pubchat{z-index:1;}

#messages{
    margin-top: 10px;
    overflow: scroll;
    height: 270px;
	
}

#message{
	border-radius: 5px;
}


/* scrollbars */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
