@media screen and (min-width: 320px) {
	#clockdiv{margin-left: -40px;}
}

.logo-menu{position: absolute;
    left: 5px;
    top: 5px;}

#clockdiv{
      /* font-family: sans-serif; */
    /* font-weight: 100; */
    /* font-size: 16px; */
    position: absolute;
    width: 100px;
    margin-left: 30px;
    z-index: 2;
    cursor: help;
    padding-top: 5px;
}

#clockdiv > div{
	color:goldenrod;
	display: inline-block;
}

/*#clockdiv div > span{
	padding: 3px;
    display: inline-block; 
    border: 2px white solid;
    border-top: 2px black solid;
	   -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}*/

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}


#votediv{
    font-family: sans-serif;
    /* display: inline-block;
	text-align: center;	*/
    font-weight: 1000;
	text-shadow: 2px 2px black;
    font-size: 17px;
	position: absolute;
    top: -25px;
    right: 225px;
    /*z-index: 1;*/
    padding-right: 10px;
	cursor: help;
	visibility:hidden;
}

#votediv > div{
	color:darkgoldenrod;
	display: inline-block;
}

#votediv div > span{
    display: inline-block; /*
	padding: 3px;
    border: 2px white solid;
    border-top: 2px black solid;
	   -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;*/
}

#votego{
    font-family: sans-serif;
    /* display: inline-block;
	text-align: center;	*/
    font-weight: 100;
    font-size: 18px;
	position: absolute;
    top: -45px;
    right: 225px;
    z-index: 1;
    padding: 10px;
	padding-right: 10px;
	cursor: help;
	visibility:hidden;
}

/*bitcoin wallet counter*/

.totbtc{color:white; padding-bottom:5px;}

.sat{margin-right: auto; margin-left: auto; width:153px; color:gold; border-bottom: #797777 1px solid; padding-left: 10px; padding-top:5px}

#btc{float:left; color:goldenrod;}







